

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,700&display=swap');

.body{
    background-color: #FEFCFB;
}

.navbar1{
    height: 114px;
}

.nav2{
    height: 24px;
    width: 130px;
}
.divNav{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

}

.btnNav1{
    color: #fa7436;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;
    border: none;
    margin-right: 40px;
}

.btnNav2{
    background-color: #fa7436;
    border-radius: none;
    font-weight: 600;
    color: white;
    height: 50px;
    width: 160px;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins';
}

.home{
    height: 800px;
    background-color: #FEFCFB;
  }
  .turista{
    position: relative;
    left: 200px;

  }
  .medio-circulo{
    width: 400px; 
    height: 190px; 
    top: calc(60%);
    left: calc(60%);
    background-color: #FA7436; 
    border-radius: 0 0 200px 200px; 
    position: absolute; 
    scale: 120%;
  }
  .imgAvion2{
    position: absolute;
    left: calc(75%);
    top: calc(5%);
  }

.cardH2{
  position: absolute; 
  top: 210px; 
  left: 750px; 
  width: 125px;
  height: 66px; 
  border-color: #f7f8fc;
}

  .trofeo , .star{
    width: 32px; 
    height: 32px; 
    align-items: center; 
    justify-content: center; 
    display: flex;
  }
  .cardH{
    position: absolute; 
    top: 300px; 
    left: 1100px; 
    width: 150px;
    height: 66px; 
    border-color: #f7f8fc;
  }
  .txtCardH{
    display: flex; 
    align-items:center; 
    margin: -10px; 
    margin-right: auto; 
    padding: auto;
  }

  .cardH3{
    position: absolute; 
    top: 400px; 
    left: 800px; 
    width: 150px;
    height: 66px; 
    border-color: #f7f8fc;
  }
  .txtCardH1{
    font-size: 10px; 
    margin-top: -16px; 
    color: #666666;
  }

  .maps{
    margin-bottom: 12px; 
    width: 32px; 
    height: 32px; 
    align-items: center; 
    justify-content: center; 
    display: flex;
  }
  .txtH{
    font-family: 'Volkov',serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 70px;
  }

  .imgAvion{
    position: absolute;
    right: 5px;
  }
  
  .parr{
    height: 120px;
    width: 450px;
    color: #666666;
    
  }

  .textIz{
    height: 486px;
    width: 521px;
    margin-top: 60px;
    margin-left: 70px;
    margin-right: 20px;
  }
  
  .startd{
    height: 210px;
    width: 521px;
    font-size: 64px;
    text-align: left;
  }
  span{
    color: #FA7436;
  }
  .descrip{
    font-size: 20px;
  }
  
  .btnDis{
    margin-top: -300px;
    background-color: #FEFCFB;
    background-color: none;
    color: #FA7436;
    width: 160px;
    height: 50px;
    border-radius: 5px; 
    font-weight: 600;
    border: 1px solid #FA7436;
    font-size: 18px;
  }
  
  .btn2{
    margin-top: -50px;
  
  }
  
  .discoSearch{
    background-color: #FFFFFF;
    height: 124px;
    width: 841px;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    
  }
  .Drop1{
    text-align: left;
    height: auto;
    width: auto;
  }

  .txtDel{
    color: #999999;
    margin-right: 10px;
  }
  
  .ptxt{
  font-size: 12px;
  color: #666666;
  }
  
  .btn3{
  background-color: #FA7436;
  height: 60px;
  width: 165px;
  color: #FEFCFB;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  }

  .imgAbout1{
    margin-left: 10px;
    margin-top: 30px;
  }
  .imgAbout2{
    margin-left: 10px;
    margin-top: 30px;
  }
  .imgAbout3{
    margin-left: 10px;
    margin-top: 30px;
  }

 .txtAbout, .txtAbout2, .txtAbout3, .txtAbout4, .txtAbout5, .txtAbout6{
    margin-left: 10px;
 }
.thing{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
  
  .img1{
  position: absolute;
  margin-left: 270px;
  margin-top: -210px;
  }
  
  .thing1{
    font-size: 54px;
    font-weight: 700;
    font-family: 'Vollkov',serif;
    font-style: normal;
  }
  .thing2{
    margin: 20px;
    padding: auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
  }
  .About{
    background: #F7F8FC;
    height: 724px;
    position: relative;
  }
  .col1{
    height: 278px;
    width: 370px;
    margin-right: 25px;
    border-radius: 8px;
    text-align: left;
    background-color: #FFFFFF;
  }

  .destination{
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .destinationTxt{
    margin-bottom: 50px;
  }
  .txtDest1{
    font-size: 48px;
    font-family: 'Vollkov';
    font-weight: 700;
    color: #222222;

  }
  .txtDest2{
    font-size: 48px;
    font-family: 'Vollkov',serif;
    font-weight: 700;
    color: #FA7436;
  }

  .btnD{
    display: flex;
    justify-content: center;

  }
  .txtD{
    color: #666666;
    text-align: center;
    font-size: 18px;
    font-family: 'Poppins';
  }
  .txtD1{
    height: 64px;
    width: 433px;
    margin: auto;
  }
  .cardsC{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
  }
  .cardD1{
    width: 230px;
    height: 340px;
    border-radius: 8px;
    border: #666666 2px none;
  }
  .card-img-top{
    border-radius: 8px;
    width: 230px;
    height: 230px;
  }

  .bi-star-fill{
    color: #FCC404;
  }
  .txtD2{
    border-radius: 8px;
    color: #FA7436;
    background-color: #ffe7db;
    height: 25px;
  }
.contT{
    height: 893px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bi-arrow-right{
    color: #FFFFFF;

}
.bi-arrow-left{
    color: #999999;
}
.imgTour1{
    position: absolute;
    left: 950px;
}
.txtT1{
    margin-top: 30px;
    color: #666666;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btnT1{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #999999;
}
.btnT2{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #FA7436;
    margin-left: 20px;
    background-color: #FA7436;
}
.btnT{
  width: 1000px;
  justify-content: end;
  align-items: end;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.TourTxt{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contT2{
  display: flex;
  flex-direction: row;
}
.contT3{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.txtTour{
  font-size: 48px;
  font-weight: 700;
  font-family: 'Volkov', serif;
}

.cardT1{
  width: 320px;
  height: 447px;
  border-radius: 16px;
}

.imgT1{
  width: 320px;
  height: 327px;
  border-radius: 16px;
}
.colum5{
  display: flex;
  justify-content: end;
  align-items: end;
}
.colum4{
  display: flex;
  justify-content: end;
  align-items: end;
  color: #FA7436;
  font-size: 24px;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
}

.txtCard1{
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.bi-cursor-fill{
  color: #FA7436;
}

.testimonio{
    display: flex;
    height: 596px;
    background-color: #F7F8FC;
    justify-content: center;
    align-items: center;
}

.contT4{
    width: 394px;
    height: 268px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.txtT2{
    font-size: 48px;
    font-weight: 700;
    color: #222222;
    font-family: 'Volkhov',serif;
    margin-bottom: 3%;

}
.txtT3{
    color: #FA7436;
}

.txtT4{
  font-size: 16px;
  font-weight: 400px;
  color: #666666;
  font-family: 'Poppins', sans-serif;

}

.colum2{
  width: 279px;
  height: 356px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.test1{
  width: 541px;
  height: 279px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;

}

.cardTest1{
  width: 504px; 
  height: 245px; 
  background-color:#F7F8FC; 
  display: flex; 
  border: 1px riged #666666;
}

.turista2{
  position: absolute;
  right: calc(92%);
  top: calc(10%);
}

.txtTest1{
  display: flex; 
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-top: 7%; 
  margin-left: 7%; 
}
.txtTest2{
  font-size: 18px; 
  font-family: 'Poppins',sans-serif; 
  font-weight: 600; 
  color: #222222; 
  margin-left: 7%; 
  margin-top: 5%;
}

.txtTest3{
  font-size: 14px; 
  font-family: 'Poppins',sans-serif; 
  font-weight: 500; 
  color: #666666; 
  margin-left: 7%;
}
.cardTest2{
  width: 504px; 
  height: 245px; 
  background-color:#ffffff; 
  display: flex; 
  border: none;
}

.test2{
  position: absolute;
  top: calc(50%);
  left: calc(10%);
  width: 504px;
  height: 245px;
  display: flex;
  flex-direction: column;
  justify-content: end;
 position: absolute;
}
.blog{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 805px;
}

.cardT4{
  height: 388px;
  width: 232px;
  border: none;
}
.contB2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -120px;
  margin-bottom: 50px;
}
.txtCardB{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card-subtitle{
  font-weight: 400;
}
.footer{
  background-color: #F7F8FC; 
  height: 688px; 
  display: grid; 
  justify-content: center; 
  align-items: center; 
  top: 0px; 
  position:relative;
}

.contFoo{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-top: 400px;
}

.contFoo1{
  height: 210px; 
  width: 254px; 
  margin-right: 150px; 
  display:block;
}
.imgFoo{
  height: 24px; 
  width: 130px;
}
.txtFoo{
  color: #666666; 
  font-size: 16px; 
  margin-top: 20px;
}
.txtFoo2{
  height: 48px; 
  width: 176px; 
  display: flex; 
  justify-content: space-between;
}

.txtFoo3{
  height: 210px; 
  width: 598px;
  justify-content: space-between; 
  display: flex;
}

.hr{
  color: #999999;
  border: 1px #999999;
}

.txtFoo4{
  color: #666666; 
  font-size: 16px; 
  margin-top: 20px;
}
.txtFoo5{
  justify-content: space-between; 
  display: flex; 
  color: #666666;
  font-size: 16px;
}

.txtFooP{
  font-size: 18px;
}

.contSub1{
  width: 1170px; 
  height: 416px; 
  background-color: #FA7436; 
  border-radius: 16px; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  position: absolute;  
  top: -175px;
  left: calc(100px);
}

.circulo19{

  height: 252px; 
  width: 252px; 
  border-radius: 50%;
  justify-content: center; 
  align-items: center; 
  display: flex; 
  position: absolute; 
  border: 1px solid #F7F8FC; 
  left: 5px; top: 250px;

}
.circulo20{
  height: 282px; 
  width: 282px; 
  border-radius: 50%;
  justify-content: center; 
  align-items: center; 
  display: flex; 
  position: absolute; 
  border: 1px solid #F7F8FC; 
  left: 5px; 
  top: 230px;
}
.circulo21{
  height: 308px; 
  width: 308px; 
  border-radius: 50%;
  justify-content: center; 
  align-items: center; 
  display: flex; 
  position: absolute; 
  border: 1px solid #F7F8FC; 
  left: 5px; 
  top: 200px;
}
.circulo22{
  height: 354px; 
  width: 354px; 
  border-radius: 50%;
  justify-content: center; 
  align-items: center; 
  display: flex; 
  position: absolute; 
  border: 1px solid #F7F8FC; 
  left: 0px; 
  top: 180px;
}
.circulo23{
  height: 389px; 
  width: 389px; 
  border-radius: 50%;
  justify-content: center; 
  align-items: center; 
  display: flex; 
  position: absolute; 
  border: 1px solid #F7F8FC; 
  left: 0px; 
  top: 150px;
}

.imgSub{
  position: absolute; 
  left: 1025px; 
  top: 10px; 
  display: flex;
}


.txtSub{
  color: #FFFFFF;
  font-size: 48PX;
  font-family: 'Volkov', serif;
  font-weight: 700;
  text-align: center;

}
.contSub{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 708px; 
  height: 256px; 
  position: relative;
}

.email-form{
position: relative;
height: 68px;
}

.icon{
  position: absolute;
  left: 1rem;
  top: calc(28%);
  color: #999999;
  font-size: 20px;
}
.icon-placeholder{
  padding-left: 2.5rem;
  width: 674px;
  height: 68px;
  border-radius: 10px;
  border: none;
}

.btnSub{
  position: absolute;
  left: calc(79%);
  top: calc(13%);
  background-color: #FA7436;
  border: none solid ;
  width: 132px;
  height: 50px;
  border-radius: 8px;
  color: #F7F8FC;
}